* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans",
    sans-serif;
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
  }
  
  nav,
  footer {
    padding: 1% 0;
    background-color: #aaa;
  }
  ul {
    list-style: none;
    padding:0;
  }
  header {
    padding: 45px 15px;
  }
  
  section {
    min-height: 200px;
    padding: 30px 15px;
    background-color: #bbb;
  }
  
  section:nth-child(even) {
    background-color: #ddd;
  }
  
  p {
    margin: 0 auto;
    max-width: 650px;
  }
  
  p + p {
    margin-top: 15px;
  }
  button.start-button {
      width: 20%;
      font-size: 1.4em;
      cursor: pointer;
      padding: .3em;
  }
  label {
      display: block;
  }
  textarea, input, select{
    margin-bottom:1em;
  }
  textarea {
    width: 25em;
    height: 10em;
  }

  /* nav */
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  .hamburger-menu {
      float: left;
      margin-left: .5em;
  }
  label.hamburger { 
    display: block;
    width: 70px;  
    height: 50px; 
    position: relative; 
    margin: 0 auto; 
    cursor: pointer;
  }
  input#hamburger {display:none;}
  .line { 
    position: absolute; 
    left:10px;
    height: 4px; width: 55px; 
    background: black; border-radius: 2px;
    display: block; 
    transition: 0.3s; 
    transform-origin: center; 
  }
  .line:nth-child(1) { top: 12px; }
  .line:nth-child(2) { top: 24px; }
  .line:nth-child(3) { top: 36px; }
  
  #hamburger:checked + .hamburger .line:nth-child(1){
    transform: translateY(12px) rotate(-45deg);
  }
  #hamburger:checked + .hamburger .line:nth-child(2){
    opacity:0;
  }
  #hamburger:checked + .hamburger .line:nth-child(3){
    transform: translateY(-12px) rotate(45deg);
  }
  .mobile-menu {
   display: none;
   padding-top: 3em;
   width: 100%; 
  }
  .menu{
    display: none;
    padding-top: 1em;
    width: 100%;
  }
  .mobile-menu ul{
    border-top: 0.05em solid black;
    margin: 0 auto;
  } 
  .menu ul li a, .mobile-menu ul li a {
  display: block;
  padding: 0.5em 1.5em 0.5em 1.5em;
  color: black;
  text-decoration: none;
  }
  .divider-menu{
  height:100%;
  background:#aaa;
  z-index:2;
  }
  table {
    margin: 0 auto;
    font-size: .8em;
    min-width: 80%;
    max-width: 80%;
  }
  th { 
    background:black;
    color:#fff;
    padding:.5em .5em; 
    text-align:center;
  }
  /* Responsive */
@media screen and (min-width:670px){
    nav {
      width:20%;
      height: 100%;
    }
    .hamburger-menu{
      display:none;
    }
    main, footer {
      margin-left: 20%;
    }
    .menu {
      display: block;
    }
  }
  @media screen and (min-width:1058px){
    body{
      font-size: 24px;
    }
    div.mobile-menu {
    display:none;
    }
    .work-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }